/* nav {
    display: inline-block;
} */
nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #000000;
    display: inline-block;
    /* width: 100%; */
}

/* 手機樣式 */
@media (max-width: 768px) {
    nav li {
        margin: 3px 10px;   /* 左右間距縮小 */
        padding: 5px;       /* 稍微加大內距，方便點擊 */
    }

    nav {
        text-align: center; /* 讓整個導覽列置中 */
    }
}

nav li:hover {
    background-color: #656565;
}

.uhHOwf_BYbUcd::after {
    background-color: rgba(0, 0, 0, 0.03);
    bottom: 0;
    content: '';
    display: block;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
}





